/**
 * @file
 * SMACSS Modules
 *
 * Node styles.
 */

.node-teaser {
  border-top: 5px solid $red;
  .node__title {
    margin-top: 0.5em;
  }
  .field-name-body {
    p {
      margin: 0.75em 0;
    }
  }
  .field-name-node-link a{
    font-size: 0.9em;
    float: right;
    padding: 0.4em 1.2em;
    background-color: $red;
    border: 0 none;
    color: $yellow;
    &:after {
      content: '+';
      padding: 0 0.3em;
    }
  }
}
