/*
Error: It's not clear which file to import for '@import "components/home"'.
       Candidates:
         components/_home.sass
         components/_home.scss
       Please delete or rename all but one of these files.
        on line 23 of /var/www/html/DrupalDay/sites/all/themes/custom/dday_2015/sass/styles.scss

18: /* Component (SMACSS module) rules *\/
19: @import "components/blocks";
20: @import "components/breadcrumb";
21: @import "components/forms";
22: @import "components/header";
23: @import "components/home";
24: @import "components/messages";
25: @import "components/misc";
26: @import "components/navigation";
27: @import "components/node";
28: @import "components/region-highlighted";

Backtrace:
/var/www/html/DrupalDay/sites/all/themes/custom/dday_2015/sass/styles.scss:23
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/import_node.rb:66:in `rescue in import'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/import_node.rb:45:in `import'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `map'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/tree/root_node.rb:20:in `render'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/engine.rb:268:in `render'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `each'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:293:in `watch'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/compass-1.0.1/bin/compass:44:in `call'
/home/jansete/.rvm/gems/ruby-2.1.3/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/home/jansete/.rvm/gems/ruby-2.1.3/bin/compass:23:in `load'
/home/jansete/.rvm/gems/ruby-2.1.3/bin/compass:23:in `<main>'
/home/jansete/.rvm/gems/ruby-2.1.3/bin/ruby_executable_hooks:15:in `eval'
/home/jansete/.rvm/gems/ruby-2.1.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: It's not clear which file to import for '@import \"components/home\"'.\A        Candidates:\A          components/_home.sass\A          components/_home.scss\A        Please delete or rename all but one of these files.\A         on line 23 of /var/www/html/DrupalDay/sites/all/themes/custom/dday_2015/sass/styles.scss\A \A 18: /* Component (SMACSS module) rules */\A 19: @import \"components/blocks\";\A 20: @import \"components/breadcrumb\";\A 21: @import \"components/forms\";\A 22: @import \"components/header\";\A 23: @import \"components/home\";\A 24: @import \"components/messages\";\A 25: @import \"components/misc\";\A 26: @import \"components/navigation\";\A 27: @import \"components/node\";\A 28: @import \"components/region-highlighted\";"; }
